<a href="https://colab.research.google.com/github/raju-kandikonda/python/blob/main/SETS_LIST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
fruits={"apple","mango","mango","banana",200}
print(fruits)

{'mango', 'banana', 'apple', 200}

In [17]:
Qualification=['raju','B.Tech',2026]
Skills=['python','c++','java']
CA=Qualification + Skills
print(Qualification)
print(Skills)
print(CA)

['raju', 'B.Tech', 2026]
['python', 'c++', 'java']
['raju', 'B.Tech', 2026, 'python', 'c++', 'java']

In [20]:
Qualification=['raju','B.Tech',2026]
print(Qualification)
print(Qualification[0])
print(Qualification[1:])
print(Qualification[1:3])
print(Qualification * 2)
print(Qualification [::-1])

['raju', 'B.Tech', 2026]
raju
['B.Tech', 2026]
['B.Tech', 2026]
['raju', 'B.Tech', 2026, 'raju', 'B.Tech', 2026]
[2026, 'B.Tech', 'raju']

In [21]:
list=['raju','2024']
print('raju birth year',list[1])
list[0]='virat'
list[1]=1988
print('virat birth year',list[1])

raju birth year 2024
virat birth year 1988

In [23]:
list=['HYDRA',2024]
print(list)
del list[1]
print(list)

['HYDRA', 2024]
['HYDRA']

In [28]:
Name=['raju','rohithsharma','kohli']
DOB=[2004,2003,1985]
print('Name with maximum charecters',max(Name))
print('Younger person DOB',max(DOB))
print('Name with minimum charecters',min(Name))
print('Older person DOB',min(DOB))

Name with maximum charecters rohithsharma
Younger person DOB 2004
Name with minimum charecters kohli
Older person DOB 1985

In [29]:
name=['revanth','rahul',"uttham"]
print("member: ",name)
name.pop()
print("member: ",name)
name.pop(1)
print("member: ",name)

member:  ['revanth', 'rahul', 'uttham']
member:  ['revanth', 'rahul']
member:  ['revanth']

In [30]:
tuple=("master","vikram","khaithi","leo")
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:])
print(tuple[::-1])
print(tuple[2:0:-1])

('master', 'vikram', 'khaithi', 'leo')
master
('master', 'vikram')
('master', 'vikram', 'khaithi', 'leo')
('leo', 'khaithi', 'vikram', 'master')
('khaithi', 'vikram')

In [31]:

dict={}
print(dict)
dict["one"]="my opinon is my own"
print(dict)
dict["2"]="my self"
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'my opinon is my own'}
{'one': 'my opinon is my own', '2': 'my self'}
dict_keys(['one', '2'])
dict_values(['my opinon is my own', 'my self'])

In [32]:
base={"name":"ktr","marks":848}
print(base)
print(base["name"])
print(base["marks"])
base["marks"]=900
print(base)
base["name"]="sonu"
print(base)
print(base.keys())
print(base.values())

{'name': 'ktr', 'marks': 848}
ktr
848
{'name': 'ktr', 'marks': 900}
{'name': 'sonu', 'marks': 900}
dict_keys(['name', 'marks'])
dict_values(['sonu', 900])